// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #6b108e;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #091a28;
$dark-primary   : #091a28;
$dark-secondary: #071521;
$dark-teritary : #193b59;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
