@import url("https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,700,800,900&display=swap");
@import './_mixins.scss';
@import './_vars.scss';

body {
  margin: 0;
  padding: 0;
  font-family: "Martel", sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
section {
  overflow-x: hidden;
  &.view {
    padding-top: 12vh;
  }
}
button {
  padding: 14px 26px;
  border: 3px solid white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }
  &.dark {
    color: black;
    border-color: black;
    &:hover {
      color: white;
      background-color: black;
    }
  }
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
